<header style="position: sticky; top: 0;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center"
         style="width: 100%">
        <div class="m-auto" style="width: 60%;">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto" style="padding: 0 10px 0 0;">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="http://localhost:3000/tasks">نیکوکاری‌ها</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            پروفایل
                        </a>
                        <div class="dropdown-menu text-right"
                             aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="http://localhost:3000/benefactor">نیکوکار</a>
                            <a class="dropdown-item"
                               href="http://localhost:3000/charity">موسسه خیریه</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8000/about-us/">
                            درباره‌ما
                        </a>
                    </li>
                </ul>
                <span class="navbar-text">
              <button type="button" class="btn btn-danger"
                      style="padding: 7px 20px">خروج</button>
            </span>
            </div>
        </div>
    </nav>
</header>
